<!DOCTYPE html>
<html>
<head>
		<title></title>
	<meta charset="utf-8">
	</head>
	<body>
		<div id="main">
			{{ nombre + " " + apellidos}}
			<input type="text" v-model="nombre">
			<input type="text" v-model="apellidos">
		</div>
		<div id="demo">
			<jose></jose>
		   	  <simple-counter></simple-counter>
			  <simple-counter></simple-counter>
			  <simple-counter></simple-counter>
		</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
        	
<script type="text/javascript" src="codigo.js">	
</script>
</body>
</html>