<!DOCTYPE html>
<html>
<meta charset="utf-8">

<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
h3, h4 {
  font-family: "verdana";
}
</style>
<body>
  <div id="app">
  <h3>Campeonato del mundo de Formula 1 - Conductores</h3>
  <h4>Buscar por nombre <input type="text" v-model="filtro"></h4>
  <table>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha Nac.</th>
      <th>Nacionalidad</th>
      <th>&nbsp;</th>
    </tr>
    <tbody>
      <tr v-for="driver,i in pilotosFiltrado">
        <td>{{i + 1}}</td>
        <td>
         
          {{driver.givenName}}</td>
          <td>
            {{driver.familyName}}
        </td>
        <td>{{driver.dateOfBirth }}</td>
        <td>{{driver.nationality}}</td>
        <td><a :href="driver.url">Biografía</a></td>
      </tr>
    </tbody>
  </table>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
<script src="controlador.js"></script>
</body>